#Dashboard {
  .snip-list__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .snip-list {
    padding: 1.5rem;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  .snip-header__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .snip-description__wrapper p{
    display: -webkit-box;
    /* max-width: 100%; */
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
  }


  .snip-author__wrapper {
    margin-top: auto;
    padding-top: 1rem;
    font-size: 12px;
    color: #787878;
  }

  .snipList--heading {
    font-size: 32px;
    margin-bottom: 1rem;
    color: #787878;
    font-weight: 600;
  }
}